---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-slicing,
  misc-redundant-expression,
  misc-unused-parameters,
  misc-unused-using-decls,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  modernize-redundant-void-arg,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-smartptr-get,
  readability-simplify-boolean-expr,
  readability-magic-numbers,

WarningsAsErrors: ''

CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;4;5;6;7;8;64;255'
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'Move'

HeaderFilterRegex: 'include/headers/.*\.hpp$'

FormatStyle: file
