<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
</head>
<body>
    <button id="startGameButton" class="button">Нажми</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script>
    const startGameButton = document.getElementById("startGameButton")
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Connected to server');
    });

    socket.on('message_from_server', function(message) {
        console.log('Message from server:', message);
    });

    function sendMessage() {
        var message = prompt('Enter a message:');
        socket.emit('message_from_client', message);
    }

    startGameButton.addEventListener("click", function () {
        sendMessage();
    })

        
</script>
</html>
