<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/site/css/board.css">
    <link rel="stylesheet" type="text/css" href="/site/css/figures.css">
    <title>Знаете чем шахматист отличается от пенсионера?</title>
</head>
<body>
    <button id="startGameButton" class="button">Нажми</button>
    <div id="chessboard_div">
        <table id="chessboard"></table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="/site/js/generateBoard.js"></script>
    <script src="/site/js/movement.js"></script>
    <script>
        const startGameButton = document.getElementById("startGameButton")
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        let lastReceivedData = null;
        let attackPositions = null;
        let selectedPosition = null;
        

        socket.on('connect', function() {
            console.log('Connected to server');
            sendMessage('start')
                    .then(() => sendMessage('get_new_figures'))
                    .then(() => generateChessboard())
                    .then(() => setFigures(decrypt(lastReceivedData)))
                    .then(() => lastReceivedData = null)
                    .catch((error) => console.error('Error:', error));
        });


        socket.on('message_from_server', function(message) {
            lastReceivedData = message
        });

        function sendMessage(message) {
            return new Promise((resolve, reject) => {
                socket.emit('message_from_client', message);
                setTimeout(() => {
                    resolve();
                }, 1000);
            });
        }

        function getLastReceivedData(){
            return lastReceivedData
        }

        function setLastReceivedData(data){
            lastReceivedData = data
        }

        function setAttackPositions(positions){
            attackPositions = positions
        }

        function getAttackPositions(){
            return attackPositions
        }

        function setSelectedPosition(positions){
            selectedPosition = positions
        }

        function getSelectedPosition(){
            return selectedPosition
        }
        
        startGameButton.addEventListener("click", function () {
            sendMessage();
        })  
    </script>
</body>
</html>
